@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

h1, h2, p {
    font-weight: bold;
}

.container {
    width: 100%;
    min-height: 100vh;
    font-family: 'Comfortaa', cursive;
    background-color: #000;
}

.home {
    display: grid;
    grid-template-rows: 12vh 64vh 24vh;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
}

.not-available {
    position: fixed;
    width: 100%;
    height: 110vh;
    background: #fff;
    z-index: 4;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

.not-available .wrong {
    width: 40%;
    margin-bottom: 10px;
}

.not-available p {
    margin-bottom: 6px;
}

header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 5;
}

header input {
    width: 65%;
    height: 50%;
    padding: 1%;
    background: #fff;
    margin-right: 5%;
}

header .date {
    text-align: center;
    font-size: 15px;
}

.main-details {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 30% 70%;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.location h1 {
    font-size: 38px;
}

.weather-condition {
    position: relative;
}

.text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.text p {
    writing-mode: vertical-lr;
}

.temp {
    display: flex;
    flex-direction: row;
}

.temp .number {
    font-size: 72px;
}

.temp .symbol {
    font-size: 48px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10%;
}

.details .box {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-items: center;
    justify-items: center;
    background: #00000077;
    color: #fff;
    border-radius: 4%;
    padding: 12px 0% 12px 0%;
}

.box p {
    margin-bottom: 4px;
}

.humidity div, 
.wind div, 
.pressure div {
    display: flex;
    flex-direction: row;
}

.humidity div p, 
.wind div p, 
.pressure div p {
    margin-right: 2px;
}

.more {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 6% 2% 2% 2%;
}

.more h1, 
.more h2, 
.more h3, 
.more p {
    color: #fff;
    font-weight: 400;
}

.more .box {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    border: solid 1px #000000;
    box-shadow: 6px 6px  0px 0px #000000;
}

.more .box section {
    width: 100%;
    height: 22vh;
    border-bottom: solid 2px #000000;
    display: grid;
    grid-template-columns: 20% 80%;
    align-content: space-around;
}

.more .box section .content {
    padding: 2% 0% 2% 4%;
}

.city-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20% 0% 0% 10%;
}

.city-icon img {
    width: 50px;
    border-radius: 100%;
    border: solid 1px white;
    background-color: #fff;
}

.more h2 {
    font-size: 20px;
    margin-bottom: 6px;
}

.more .info {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media all and (min-width: 710px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .not-available {
        width: 50%;
        background-color: #333333;
        color: #fff;
    }
    .home {
        background-image: url("../images/bg2.jpg");
        color: #fff;
    }
    .more {
        background-color: #000000;
        height: 100vh;
    }
    .info-card {
        box-shadow: 1px 1px 1px 0px #fff;
        background-color: #06062762;
    }
}

@media all and (min-width: 940px) {
    .home {
        background-image: url("../images/bg3.jpg");
    }
}