@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

h1, h2, p {
    font-weight: bold;
}

.container {
    width: 100%;
    min-height: 100vh;
    font-family: 'Comfortaa', cursive;
    display: grid;
}

.cover-all {
    display: none;
}

header {
    width: 100%;
    height: 12vh;
    padding: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    z-index: 5;
}

header input {
    width: 65%;
    height: 26px;
    padding: 1%;
    background: #fff;
    margin-right: 5%;
}

header .logo {
    display: none;
}

header .date {
    text-align: center;
    font-size: 15px;
}

.home {
    display: grid;
    grid-template-rows: 60% 40%;    
    width: 100%;
    height: 88vh;
    padding: 2%;
}

.not-available {
    position: fixed;
    width: 100%;
    height: 110vh;
    background: #fff;
    z-index: 4;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

.not-available .wrong {
    width: 40%;
    margin-bottom: 10px;
}

.not-available p {
    margin-bottom: 6px;
}

.main-details {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 30% 70%;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.location h1 {
    font-size: 38px;
}

.text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.text p {
    writing-mode: vertical-lr;
}

.temp {
    display: flex;
    flex-direction: row;
}

.temp .number {
    font-size: 72px;
}

.temp .symbol {
    font-size: 48px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10%;
}

.details .box {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-items: center;
    justify-items: center;
    background: #000000;
    color: #fff;
    padding: 12px 0% 12px 0%;
    height: fit-content;
}

.box p {
    margin-bottom: 4px;
}

.humidity div, 
.wind div, 
.pressure div {
    display: flex;
    flex-direction: row;
}

.humidity div p, 
.wind div p, 
.pressure div p {
    margin-right: 2px;
}

.more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 6% 2% 2% 2%;
}

.more h1, 
.more h2, 
.more h3, 
.more p {
    font-weight: 400;
}

.more .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    border: solid 1px #000000;
    box-shadow: 6px 6px  0px 0px #000000;
}

.more .box section {
    width: 100%;
    height: 22vh;
    border-bottom: solid 2px #000000;
    display: grid;
    grid-template-columns: 20% 80%;
    align-content: space-around;
}

.more .box section .content {
    padding: 2% 0% 2% 4%;
}

.city-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20% 0% 0% 10%;
}

.city-icon img {
    width: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 1px #000000;
}

.more h2 {
    font-size: 20px;
    margin-bottom: 6px;
}

.more .info {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media all and (min-width: 710px) {
    .container {
        display: grid;
        grid-template-rows: 12vh 88vh;
        grid-template-columns: 60% 40%;
        grid-template-areas: "a a" "b c";
        height: 100vh;
        overflow: hidden;
    }
    header {
        grid-template-columns: 60% 20% 20%;
        grid-template-areas: "a b c";
    }
    header .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    header .logo img {
        width: max-content;
        height: 40px;
    }
    header .search-box {
        width: 100%;
        grid-area: b;
    }
    header .date {
        grid-area: c;
        font-size: 14px;
    }
    .menu {
        grid-area: a;
        border-bottom: 1px solid #000;
    }
    .home {
        border-right: 1px solid #000;
    }
    .main-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .weather-condition .text {
        display: block;
    }
    .weather-condition .text p {
        writing-mode: horizontal-tb;
    }
    .main-details div {
        margin-bottom: 6px;
    }
    .details {
        padding-bottom: 0%;
    }
    .more .box {
        box-shadow: none;
        border: none;
    }
    .more .box section {
        height: 20vh;
        border-bottom: none;
    }
}

@media all and (min-width: 940px) {
    .container {
        grid-template-columns: 65% 35%;
    }
    header {
        grid-template-columns: 65% 20% 15%;
    }
    .home {
        background-position: bottom;
    }
    .more .box {
        margin-top: 0px;
    }
}

@media all and  (min-width: 1240px) {
    .container {
        grid-template-columns: 70% 30%;
    }
    header {
        grid-template-columns: 71% 14.5% 14.5%;
    }
}

@media all and (min-width: 1440px) {
    .logo img {
        height: 55px !important;
    }
    .logo p {
        font-size: 18px !important;
    }
    .date {
        font-size: 16px !important;
    }
    .search-box {
        height: 30px !important;
        font-size: 16px;
    }
    .location h1 {
        font-size: 52px;
    }
    .city h2 {
        font-size: 42px;
    }
    .weather-condition p {
        font-size: 32px;
    }
    .temp .number {
        font-size: 82px;
    }
    .details .box div p, 
    .symbol, 
    .details .box .title {
        font-size: 22px !important;
        margin: none;
    }
    .more h1 {
        font-size: 32px;
    }
    .info-card h2 {
        font-size: 28px;
    }
    .info-card p {
        font-size: 22px;
    }
}

@media only screen and (max-width: 850px) and (orientation: landscape) and (max-height: 425px) {
    .cover-all {
        position: fixed;
        width: 100%;
        height: 110vh;
        z-index: 12;
        background: #d3d3d3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .screen:after {
        display: block;
        position: absolute;
        content: "";
    }
    .phone {
        position: relative;
        border: solid #ffffff;
        border-width: 7.75vmin 1.24vmin;
        border-radius: 4.1333333333vmin;
        animation: phone 3.5s infinite 0.6s;
        transform: rotateZ(-90deg);
    }
    .dtls {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .screen {
        position: relative;
        width: 26vmin;
        height: 40vmin;
        border-radius: 10px;
    }
    .cover-all p {
        margin-top: 10px;
        font-size: 18px;
    }
}

@keyframes phone {
    0% {
      transform: rotateZ(-90deg);
    }
    20% {
      transform: rotateZ(-90deg);
    }
    80% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
}