* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "montserrat", sans-serif;
	background-image: url("bg.jpg");
	background-size: cover;
	background-position: top center;
}

.app-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: linear-gradient(
		to bottom,
		rgb(0, 0, 0, 0.3),
		rgb(0, 0, 0, 0.6)
	);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 15px 15px;
}

header input {
	width: 100%;
	max-width: 240px;
	padding: 10px 15px;
	border-radius: 10px;
	outline: none;
	border: none;
	background-color: rgba(255, 255, 255, 0.453);
	color: black;
	transition: 0.2s ease-out;
	font-size: 20px;
	font-weight: 300;
}

header input:focus {
	background-color: rgba(180, 180, 180, 0.288);
}

.icon {
	padding-left: 40px;
}

main {
	padding: 25px 25px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.location .city {
	color: #ffffff;
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 5px;
}

.location .date {
	font-size: 16px;
	color: #ffffff;
}

.current .temp {
	display: flex;
	justify-content: space-around;
	color: #ffffff;
	font-size: 100px;
	font-weight: 800;
	margin: 30px 0;
	text-shadow: 4px 10px rgba(24, 24, 24, 0.634);
}

.current {
	display: flex;
	align-items: center;
}

.current span {
	margin: 10px;
	color: white;
	font-weight: 500;
	font-size: 70px;
}

.weather {
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 15px;
	text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

#moreInfo {
	cursor: pointer;
	width: 110px;
	height: 40px;
	color: #ffffff;
	background: #ffffff1a;
	border: none;
	border-radius: 10px;
	transition: transform 0.2s;
	margin-top: 20px;
}

#moreInfo:hover {
	transform: scale(1.1);
}

.infoContainer {
	height: 0px;
	width: 100%;
	position: absolute;
	top: 100%;
	padding-top: 0px;
	background-color: black;
	color: white;
	overflow: hidden;
	transition: 1s;
}

li {
	padding-bottom: 24px;
	font-size: 20px;
	font-weight: 800;
}

.active {
	height: 300px;
	padding-top: 20px;
	transition: 1s;
}

@media all and (max-width: 385px) {
	.icon {
		width: 100px;
		height: 80px;
	}
}
